<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.authentication.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controller.authentication.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>controller.authentication.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WeeklySchedule</servlet-name>
        <servlet-class>controller.student.WeeklySchedule</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Timetable</servlet-name>
        <servlet-class>controller.student.Timetable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetListWeekOfYear</servlet-name>
        <servlet-class>controller.student.GetListWeekOfYear</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTimeTableBySelectedWeek</servlet-name>
        <servlet-class>controller.student.GetTimeTableBySelectedWeek</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WeeklyScheduleInstructor</servlet-name>
        <servlet-class>controller.instructor.WeeklySchedule</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetListWeekOfYearInstructor</servlet-name>
        <servlet-class>controller.instructor.GetListWeekOfYear</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTimeTableBySelectedWeekInstructor</servlet-name>
        <servlet-class>controller.instructor.GetTimeTableBySelectedWeek</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TakeAttendance</servlet-name>
        <servlet-class>controller.instructor.TakeAttendance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckAttendance</servlet-name>
        <servlet-class>controller.instructor.Attendance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAttendance</servlet-name>
        <servlet-class>controller.instructor.ViewAttendance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportAttendance</servlet-name>
        <servlet-class>controller.student.ReportAttendance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TimeTable</servlet-name>
        <servlet-class>controller.instructor.TimeTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseDetail</servlet-name>
        <servlet-class>controller.course.CourseDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GroupDetail</servlet-name>
        <servlet-class>controller.group.GroupDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTerm</servlet-name>
        <servlet-class>controller.group.GetTerm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Profile</servlet-name>
        <servlet-class>controller.student.Profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportAttendanceInstructor</servlet-name>
        <servlet-class>controller.instructor.ReportAttendance</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WeeklySchedule</servlet-name>
        <url-pattern>/student/WeeklySchedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Timetable</servlet-name>
        <url-pattern>/student/timetable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetListWeekOfYear</servlet-name>
        <url-pattern>/student/getListWeekOfYear</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTimeTableBySelectedWeek</servlet-name>
        <url-pattern>/student/getTimeTableBySelectedWeek</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WeeklyScheduleInstructor</servlet-name>
        <url-pattern>/instructor/weeklySchedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetListWeekOfYearInstructor</servlet-name>
        <url-pattern>/instructor/getListWeekOfYear</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTimeTableBySelectedWeekInstructor</servlet-name>
        <url-pattern>/instructor/getTimeTableBySelectedWeek</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TakeAttendance</servlet-name>
        <url-pattern>/instructor/takeAttendance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckAttendance</servlet-name>
        <url-pattern>/instructor/checkAttendance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAttendance</servlet-name>
        <url-pattern>/instructor/viewAttendance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportAttendance</servlet-name>
        <url-pattern>/student/reportAttendance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TimeTable</servlet-name>
        <url-pattern>/instructor/timetable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseDetail</servlet-name>
        <url-pattern>/course/courseDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GroupDetail</servlet-name>
        <url-pattern>/group/groupDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTerm</servlet-name>
        <url-pattern>/group/term</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Profile</servlet-name>
        <url-pattern>/student/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportAttendanceInstructor</servlet-name>
        <url-pattern>/instructor/reportAttendance</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
